.navbar{
  background-color: #16ABF8;
  position: static;
  width: 100;
  height: 100px;
  /* margin-top: -28px; */
}
.logo{
  padding-left: 100%;
  margin-bottom: 10px;
}
.btn-tambah{
  background-color: #16ABF8; /* Green */
  border: none;
  color: white;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 35px;
  display: grid;
  grid-template-columns: auto auto ;
  /* margin-left: 40%; */
}
.btn-tambah svg{
  padding-top: 15px;
  padding-left: 10px;
  width: 30px;
  height: auto;
}
.btn-tambah p{
  padding-top: 15px;
  padding-right: 20px;
}
.btn-tambah:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
@media screen and (max-width: 768px){
  .logo{
    padding-left: 40px;
  }
}
.card-activity {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
  height: 243px;
  padding: 22px 27px;
}

.card-activity:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  gap: 10px;
  margin: 10px 15%;
}
@media(max-width:768px){
  .card-container{
    justify-content: center;
    flex-direction: column; 
    align-items: flex-start;
  }
  .card-activity{
    width: 100%;
  }
}
.btn-delete{
  background-color:white; /* Green */
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
}

.link-card{
  text-decoration: none;
  color: black;
}
.input-h1 {
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  font-weight: bold;
  outline: none;
  border-bottom: 1px solid #000; /* Ganti warna sesuai kebutuhan */
  outline: none; /* Hilangkan outline yang muncul saat focus */
  padding: 5px 0;
  transition: 1s ease-in-out;
  width: 50%;
}
