

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--bodyBGC);
}

:root {
  --bodyBGC: #0f172a;

  --sideMenuFontSize: 2vw;
  --sideMenuFontColor: #067481;
  --sideMenuFontColorActive: #CCD6F6;

  --titleFontSize: 6vw;
  --titleFontSizeTab: 6.5vw;
  --titleFontSizeMobile: 28px;
  --titleFontColor: #08fdd8;

  --homePositionFontSize: 3.5vw;
  --hometechUsedFontSize: 1.5vw;

  --descFontSize: 16px;
  --descFontSizeTab: 14px;
  --descFontSizeMobile: 12px;
  --descFonstColor: #CCD6F6;
  --descFontWeight: 200;
}

.stars {
  background: url(././Assets/images/stars-bg.png);
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  z-index: var(--zIndex);
  transform: rotateX(180deg);
}

.twinkling {
  background: transparent url(././Assets/images/twinkling-custom.png) repeat top center;
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  -moz-animation: move-background 700s linear infinite;
  -ms-animation: move-background 700s linear infinite;
  -o-animation: move-background 700s linear infinite;
  -webkit-animation: move-background 700s linear infinite;
  animation: move-background 700s infinite alternate;
}

.clouds {
	width: 100%;
  background: url(././Assets/images/clouds-bg.png) repeat;
  background-position: 0 0;
  opacity: var(--opacity);
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  z-index: var(--zIndex);
  -moz-animation: move-background 600s linear infinite;
  -ms-animation: move-background 600s linear infinite;
  -o-animation: move-background 600s linear infinite;
  -webkit-animation: move-background 600s linear infinite;
  animation: move-background 600s linear infinite;
}

@keyframes fade {
  100% {
      opacity: 1;
  }
}

/*#region ---------- rubber / jello ---------- */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/*#endregion ---------- rubber / jello ---------- */

/*#region ---------- glitch text ---------- */
@keyframes glitchText {
  0% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
      -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
      clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }

  10% {
      -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
      clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }

  20% {
      -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
      clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }

  35% {
      -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
      clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }

  50% {
      -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
      clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }

  60% {
      -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
      clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  70% {
      -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
      clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }

  80% {
      -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
      clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }

  90% {
      transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
  }

  100% {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
/*#endregion ---------- glitch text ---------- */

/*#region ---------- glitch text out ---------- */
@keyframes glitchTextOut {
  0% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
      -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
      clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }

  10% {
      -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
      clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }

  20% {
      -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
      clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }

  35% {
      -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
      clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }

  50% {
      -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
      clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }

  60% {
      -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
      clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  70% {
      -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
      clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }

  80% {
      -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
      clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }

  90% {
      transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
  }

  100% {
      opacity: 0;
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
/*#endregion ---------- glitch text out ---------- */

/*#region ---------- tilt animation ---------- */
@-webkit-keyframes tilt-in-tl {
  0% {
    -webkit-transform: rotateY(35deg) rotateX(20deg) translate(-65vw, -40vh) skew(12deg, 15deg) scale(0.1);
    transform: rotateY(35deg) rotateX(20deg) translate(-65vw, -40vh) skew(12deg, 15deg) scale(0.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg) scale(1);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg) scale(1);
    opacity: 1;
  }
}

@keyframes tilt-in-tl {
  0% {
    -webkit-transform: rotateY(35deg) rotateX(20deg) translate(-65vw, -40vh) skew(12deg, 15deg) scale(0.1);
    transform: rotateY(35deg) rotateX(20deg) translate(-65vw, -40vh) skew(12deg, 15deg) scale(0.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg) scale(1);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg) scale(1);
    opacity: 1;
  }
}
/*#endregion ---------- tilt animation ---------- */

/*#region ---------- slide in eliptic animation ---------- */
@-webkit-keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
    transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
    transform-origin: 50% -1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
    transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
    transform-origin: 50% -1400px;
    opacity: 1;
  }
}
/*#endregion ---------- slide in eliptic animation ---------- */

/*#region ---------- twinkling animation ---------- */
@keyframes move-background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes move-background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
/*#endregion ---------- twinkling animation ---------- */


